.card { transition: transform .2s ease, box-shadow .2s ease; }
.card:hover { transform: translateY(-2px); }
.mono { font-variant-numeric: tabular-nums; }

#lqd-site-content {
  background-color: #020617; /* slate-950 */
}

#strategy-maker-root h1 {
    text-align: center !important;
}
